.idea/
*.zip
*.pyc
osmx/*.png
osmx/backup/*.png
*.mpg
*.vs
build/
cache/
data/
*.suo
*.db
x64/
__pycache__/
*.pdf
*.npy
*__pycache__*
PythonAPI/simstar.egg-info/*.txt
PythonAPI/simstar.egg-info/PKG-INFO
PythonAPI/dist/
PythonAPI/build/
.vscode/*
*.egg-info
*.pkl
*.egg

PythonAPI/PythonAPI.pyproj
PythonAPI/PythonAPI.sln

runs/*
wandb/*

node_modules
yarn-error.log
package-lock.json
npm-debug.log
*/**/yarn.lock

testresults/

!Ist.pkl
!Dutch.pkl

